
.box,
.feature-card,
.course-item,
.logo-box {
    transition: all 0.3s ease;
}

.box:hover,
.feature-card:hover,
.course-item:hover,
.logo-box:hover {
    transform: translateY(-6px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.12);
}

.logo-box {
    width: 40px;
    height: 40px;
    background-color: #2563eb;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border-radius: 6px;
    font-size: 20px;
}
body{
    font-family: 'Poppins', sans-serif;
}
/* Portal Title */
.portal-title {
    font-weight: bold;
    font-size: 20px;
    color: #1e3a8a;
}

/* Menu Button */
.menu-btn {
    font-size: 28px;
    color: #374151;
    transition: 0.3s;
}

.menu-btn:hover {
    color: #2563eb;
}

/* Main Heading */
.main-heading {
    font-size: 50px;
    font-weight: 800;
    color: #041b5a;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

/* Divider */
.divider {
    width: 100px;
    height: 4px;
    background-color: #2563eb;
    margin: 0 auto 30px auto;
    border: none;
}

/* Search Box */
.search-box {
    position: relative;
    max-width: 500px;
    margin: auto;
}

.search-input {
    width: 100%;
    padding: 14px 40px;
    border-radius: 50px;
    border: 1px solid #ccc;
    outline: none;
    cursor: pointer;
}

.search-icon {
    position: absolute;
    left: 15px;
    top: 14px;
    color: gray;
}

.course-dropdown {
    position: absolute;
    top: 60px;
    width: 100%;
    background: white;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    padding: 15px;
    text-align: left;
    z-index: 100;
}

.hidden {
    display: none;
}

.box {
    margin-bottom: 15px;
}

.dropdown-title {
    font-weight: bold;
    color: #2563eb;
    margin-bottom: 8px;
}

.course-item {
    padding: 8px;
    border-radius: 6px;
    cursor: pointer;
}

.course-item:hover {
    background: #f3f4f6;
}


/* Animation */
.portal-title {
    font-weight: 600;
    opacity: 0;
    transform: translateY(30px);
    animation: fadeSlideUp 1s ease-out forwards;
}

@keyframes fadeSlideUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/* Sub Text */
.sub-text {
    font-size: 18px;
    color: #6b7280;
    max-width: 700px;
    margin: auto;
    line-height: 1.6;
}

.highlight {
    color: #2563eb;
    font-weight: 600;
}

/* Features Section */
.features-section {
    max-width: 900px;
    margin: auto;
    padding: 50px 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.feature-card {
    display: flex;
    align-items: start;
    background: white;
    padding: 20px;
    border-left: 5px solid #2563eb;
    border-radius: 12px;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.05);
}

.feature-icon {
    font-size: 22px;
    color: #2563eb;
    margin-right: 15px;
}

/* Footer */
.footer {
    text-align: center;
    background: #f3f4f6;
    padding: 50px 20px;
}

.free-badge {
    background: #dcfce7;
    color: #15803d;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    display: inline-block;
    margin-bottom: 20px;
}

.footer h4 {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    color: #9ca3af;
}

.footer p {
    font-size: 22px;
    color: #1e3a8a;
    font-style: italic;
    font-weight: 500;
}


/* Dropdown Menu */
.dropdown {
    position: absolute;
    top: 80px;
    right: 20px;
    background: rgb(89, 138, 242);
    width: 250px;
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    animation: slideDown 0.3s ease;
}

.dropdown a {
    padding: 15px 20px;
    text-decoration: none;
    color: #f6f8fa;
    font-weight: 500;
    transition: 0.2s;
}

.dropdown a:hover {
    background: #e6bb56;
    color: #2563eb;
}

/* Hide class */
.hidden {
    display: none;
}

/* Animation */
@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}